<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.zjr.dsh-menubar</string>
	<key>ProgramArguments</key>
	<array>
		<string>__APP__</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>DSH_HOME</key>
		<string>__DSH_HOME__</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
	<key>ProcessType</key>
	<string>Interactive</string>
</dict>
</plist>
